
<div class="container">

<h1>Score</h1>

<p> <%= @message1 %> <strong><%= @attempt.join('').upcase %></strong> <%= @message2 %></p>

<p>Score: <%= @score%></p>
<p>Total: <%= session[:score] %></p>
<%= link_to "Create a new game", root_path, class: "btn btn-primary"%>
<%= link_to "Reset progress",  reset_session_path, class: "btn btn-secondary"%>
</div>
